#container{
  overflow: auto;
}

#content{
  padding: 0;
}

#content .search-results{
  border-width: 0;
}

#content .layout-content{
  margin: 2em;
  box-shadow: 0px 0px 10px #9f9f9f;
  border: 1px solid #aaa;
}
